<footer id="sticky-footer" class="py-4 bg-dark text-white">
<div class="container text-center">
  <small>Copyright &copy; <%= link_to "mnpallavi", "https://urwebsite.com", class: "text-white" %></small>
</div>
</footer>