<body class="d-flex flex-column">
    <div class="container" id="home-container">
      <div class="jumbotron text-center text-white"> 
        <h1 class="display-4">Alpha Blog</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <%= link_to 'Sign up!', signup_path, class: "btn btn-success btn-lg" %>
      </div>
  </div>
</body>




<% if false %>
  this is a multiline comment
  <h1>Welcome tohome page!!!</h1>


 <%= link_to 'Article listing', articles_path %> |
  <%= link_to 'Go to about Page', about_path %>
css text-center is a class by defalut align in center 
<% end %>

