<div class="container">

  <div class="row justify-content-center">
  <div class="col-10">
  <%= render 'shared/errors', obj: @article %>
  <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
    <div class = "from-group row">
    <%= f.label :title, class: "col-2 col-form-label text-light" %>
    <div class="col-10">
        <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Titile of atricle" %>
    </div>
  </div>

  <div class = "from-group row mt-4">
  <%= f.label :description, class: "col-2 col-form-label text-light" %>
  <div class="col-10">
    <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of atricle" %>
    </div>
    </div>


    <div class="form-group row">
    <%= f.label :category, class: "col-2 col-form-label text-light" %>
    <div class="col-10"> 
      <%= f.collection_select(:category_ids, Category.all, :id, :name,
      { prompt: "Make your selection from the list below (can be empty)"}, { multiple: true, size: 3, class: "custom-select shadow rounded" }) %>
    </div>
  </div>
    
    <div class = "from-group row justify-content-center mt-4">
    <%= f.submit class: "btn btn-outline-light btn-lg" %>  </div>


  <% end %>
  </div>

<div class="mb-3">
  <%= link_to '[ Cancel Edit and Return to article listing ]', articles_path, class: "text-info" %>
 </div>
</div>
</div>


