<h1 class="text-center mt-4"><%=  @article.title %></h1>

  <div class="container" >

    <div class="row justify-content-md-center">
      <div class="clo-8 mt-4">
            <div class="card text-center shadow p-3 mb-5 bg-white rounded">
              <div class="card-header font-italic">
                  by <%= @article.user.username if @article.user %>
                  <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
                  
                  <% if @article.categories.any? %>
            <div class="mt-2"><%= render @article.categories %></div> 
          <% end %>
              </div>

              <div class="card-body text-green">
                <div class="card-text text-left"><%= simple_format(@article.description) %></div>
                <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
                 <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %>
                 <%= link_to 'Delete', article_path(@article), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?"} %>
                <% end %>
              </div>
              
              <div class="card-footer text-muted">
                <small> Created <%= time_ago_in_words(@article.created_at) %>ago, 
                Edited <%= time_ago_in_words(@article.updated_at) %>ago</small>
              </div>
            </div>
      </div>
    </div>
  </div>
